@import '../partials/color';
@import '../partials/fonts';

footer{
    background-color: $background-secondary;
    color: $primary;
    font-size: 12px;
    text-align: center;
    padding: 1rem 0;
}
