//Couleurs principales du site
$primary-1:#73ed4a;
$primary-2:#111111;
$primary-3:#000000;

//Couleurs secondaires du site 
$secondary-1:#FFFFFF;
$secondary-2:#818181;

//Couleurs tertiaires du site
$extra-1:#FFB200;
$extra-2:#B9C4E4;
$extra-3:#7DE7FE;

//Button
$cta-button-padding-small: 20px;
$cta-button-font-size-small: 24px;
$cta-button-font-size-small: 18px;

$cta-button-font-size-large: 33px;
$cta-button-padding-large: 100px;

//Box-Shadow
$iphone13-max-width: 435px;
$container-payment-height: 1265px;
$offer-max-width: 400px;
$offer-margin: 20px;
$offer-padding: 20px;
