//Background-color du site
$background-primary:#73ed4a;
$background-secondary:#17c3ee;
$background-ter:#000000;

//Color du site 
$primary:#FFFFFF;
$secondary:#818181;


//Button
$cta-button-padding-small: 20px;
$cta-button-font-size-small: 24px;
$cta-button-font-size-small: 18px;

$cta-button-font-size-large: 33px;
$cta-button-padding-large: 100px;

//Box-Shadow
$iphone13-max-width: 435px;
$container-payment-height: 1265px;
$offer-max-width: 400px;
$offer-margin: 20px;
$offer-padding: 20px;
