@import './layout/header';
@import './layout/footer';
@import './layout/container';

body{
    background-color:$background-primary;
    color: $primary;
	margin: 0;
}

.d-flex{
	display: flex;
}

.d-block{
	display: block;
}

.text-center{
	text-align: center;
}

.justify-content-center{
	justify-content: center;
}

.justify-content-between{
	justify-content: space-between;
}

.justify-content-around{
	justify-content: space-around;
}

.align-items-center{
	align-items: center;
}

.flex-direction-column{
	flex-direction: column;
}

.mr-auto{
	margin: auto;
}